{% extends "layout.html" %}
{% block content %}

<center>
  <div class="container">
     <div class="row">
        <div class="col-md-4" style="background-color:#5f788a">
        	<br>
          <div class="content-section" style="background:#202a3f ">
            <h3 style="color:white">About</h3>
            <p  style="color:white"> <font size="4	">This project refer to develop an interactive web-API , which provides the fastest way to analyze the DNA sequence in terms of their GC and AT content. Both applications permit other downstream analyses that can be used quickly and properly repeat our analysis as well as extra data points from their new data sample.</font>
            </p>
          </div>
        </div>
         <div class="col-md-8" style="background-color:#5f788a">
         	<br>
          <div class="content-section" style="background:#202a3f ">
            <h3 style="color:white">Details</h3>
            <br>
			<ul class="list-group" >
                <li style="color:black" class="list-group-item list-group-item-light">Project Name: DNA-GC Content Analysis</li>
                <li style="color:black" class="list-group-item list-group-item-light">Projects Partners: Priyanshu Pandey, Abhishek Tiwari, Pratima Gaur.</li>
                <li style="color:black" class="list-group-item list-group-item-light">Project Guide: Mr. Vikas kucchal</li>
                <li style="color:black" class="list-group-item list-group-item-light">University: GGSIPU</li>
                <li style="color:black" class="list-group-item list-group-item-light">Institution: B.M. Institute of Engineering and Technology.</li>
            </ul><br>
          </div>
        </div>
       </div>
   </div> 
   </center>

{% endblock content %}

